certifi==2025.7.14
charset-normalizer==3.4.2
grpcio==1.73.1
grpcio-tools==1.73.1
idna==3.10
joblib==1.5.1
kafka-python==2.2.15
lightfm==1.17
mysql-connector-python==9.2.0
numpy==2.2.6
protobuf==6.31.1
python-dotenv==1.1.1
requests==2.32.4
scikit-learn==1.7.1
scipy==1.15.3
threadpoolctl==3.6.0
urllib3==2.5.0
